{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{book.Author_name}}</th>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}"style="text-decoration:none;">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"style="text-decoration:none;">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}"style="text-decoration:none;"><center>Create new</center></a>
{% endblock %}
